@media (max-width: 768px) {
  .header-logo img {
    max-width: 50%;
  }
  .menu-horizontal li {
    display: block;
  }
  .menu-vertical {
    display: block;
  }
  .registrarse-container {
    display: inline-block;
  }
  .container {
    padding: 10px;
  }
  .video-resumen {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
  .header-logo img {
    max-width: 40%;
  }
  .menu-horizontal li {
    display: block;
  }
  .menu-vertical {
    display: block;
  }
  .registrarse-container {
    display: inline-block;
  }
}
body {
  font-family: Arial, sans-serif;
  color: black;
  margin-top: 50px;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

.navbar {
  background-color: darkred;
  color: black;
}
.navbar-brand {
  margin-bottom: 0;
}
.navbar-toggler {
  order: 1;
  position: relative;
}

.header-logo {
  display: inline-flex;
  align-items: center;
}
.header-logo img {
  max-height: 40px;
  margin-right: 10px;
}

.registrarse-container {
  position: relative;
  display: inline-block;
}
.registrarse-container button {
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px 20px;
}
.registrarse-container .registrarse-dropdown {
  display: none;
  position: absolute;
  min-width: 200px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 12px;
  z-index: 1;
}

.registrarse-container:hover .registrarse-dropdown {
  display: block;
}

a {
  color: blue;
}
a:link {
  font-weight: 900;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  color: black;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.video-resumen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 100%;
  padding-top: 80px;
}

video {
  max-width: 100%;
  height: auto;
}

.resumen {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.resumen h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.resumen p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.img-menu {
  margin-top: 40px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-comentarios {
  text-align: center;
}
.section-comentarios h2 {
  justify-self: center;
}
.section-comentarios .comentarios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-comentarios .comentarios .comentario {
  flex: 0 1 calc(50% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}

section.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.inicio .descripcion {
  flex: 1;
  padding-bottom: 20px;
}
section.inicio iframe {
  padding-top: 80px;
  flex: 1;
  width: 100%;
  height: 100%;
}

h2 {
  margin: 10px 0;
  text-align: center;
}

.comentarios-container {
  display: flex;
  flex-wrap: wrap;
}
.comentarios-container p {
  flex: 1 1 50%;
  padding: 10px;
  box-sizing: border-box;
}
.comentarios-container .rating {
  font-size: 20px;
  color: rgba(241, 205, 0, 0.801);
}

main {
  padding: 20px;
}

iframe {
  max-width: 100%;
  margin: auto;
  width: 560px;
  height: 315px;
}

section {
  margin-bottom: 30px;
}
section h3 {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.dosmin-video {
  text-align: center;
}
.dosmin-video h2 {
  color: grey;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  padding: 80px;
  margin-top: 40px;
}
.dosmin-video p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: medium;
  line-height: 1.5;
  text-align: justify;
}
.dosmin-video p iframe {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-top: 15px;
}

.dosmin-comparativa, #dosmin-comparativa {
  display: flex;
}
.dosmin-comparativa .ficcion, #dosmin-comparativa .ficcion,
.dosmin-comparativa .realidad,
#dosmin-comparativa .realidad {
  width: 50%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: lightgray;
  margin-right: 10px;
}
.dosmin-comparativa .ficcion:last-child, #dosmin-comparativa .ficcion:last-child,
.dosmin-comparativa .realidad:last-child,
#dosmin-comparativa .realidad:last-child {
  margin-right: 0;
}
.dosmin-comparativa .ficcion h2, #dosmin-comparativa .ficcion h2,
.dosmin-comparativa .realidad h2,
#dosmin-comparativa .realidad h2 {
  padding: 10px;
  cursor: pointer;
  user-select: none;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.dosmin-comparativa .ficcion h2:after, #dosmin-comparativa .ficcion h2:after,
.dosmin-comparativa .realidad h2:after,
#dosmin-comparativa .realidad h2:after {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 1s ease;
}
.dosmin-comparativa .ficcion .accordion-item, #dosmin-comparativa .ficcion .accordion-item,
.dosmin-comparativa .realidad .accordion-item,
#dosmin-comparativa .realidad .accordion-item {
  padding: 10px;
  max-height: 0;
  overflow: hidden;
}
.dosmin-comparativa .ficcion .accordion-item p, #dosmin-comparativa .ficcion .accordion-item p,
.dosmin-comparativa .realidad .accordion-item p,
#dosmin-comparativa .realidad .accordion-item p {
  margin: 0;
}
.dosmin-comparativa .ficcion:hover h2:after, #dosmin-comparativa .ficcion:hover h2:after,
.dosmin-comparativa .realidad:hover h2:after,
#dosmin-comparativa .realidad:hover h2:after {
  transform: translateY(-50%) rotate(45deg);
}
.dosmin-comparativa .ficcion:hover .accordion-item, #dosmin-comparativa .ficcion:hover .accordion-item,
.dosmin-comparativa .realidad:hover .accordion-item,
#dosmin-comparativa .realidad:hover .accordion-item {
  max-height: 100vh;
  transition: max-height 0.3s ease;
}

.reflexion {
  font-weight: 800;
  text-align: center;
  font-family: serif;
  font-size: 18px;
  margin-top: 20px;
}
.reflexion i {
  font-style: italic;
}

.gh {
  background-color: lightgray;
  font-family: Arial, sans-serif;
  color: #2c3e50;
}
.gh .gh-frase {
  text-align: center;
  padding: 80px;
}
.gh .gh-frase h2 {
  color: darkred;
  font-size: 24px;
  margin-bottom: 10px;
}
.gh .gh-frase img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}
.gh .gh-frase p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}
.gh .gh-rostro {
  text-align: center;
  padding: 20px;
}
.gh .gh-rostro h2 {
  color: darkred;
  font-size: 24px;
  margin-bottom: 10px;
}
.gh .gh-rostro img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}
.gh .gh-rostro p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}
.gh .gh-leyes {
  text-align: center;
  padding: 20px;
}
.gh .gh-leyes p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 15px;
}
.gh .gh-leyes ol {
  list-style-type: decimal;
  padding-left: 20px;
}
.gh .gh-leyes ol li {
  margin-bottom: 10px;
}
.gh .gh-leyes ol li strong {
  color: darkred;
}

a:hover {
  text-decoration: underline;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.carousel-item p {
  color: white;
  font-weight: 500;
  font-style: italic;
}
.carousel-item img {
  object-fit: cover;
  height: 400px;
  transition: opacity 0.5s ease-in-out;
}

.mdescripcion {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 40px;
  text-align: center;
}
.mdescripcion h2 {
  color: #e74c3c;
  font-size: 32px;
  margin-bottom: 20px;
}
.mdescripcion p {
  font-size: 18px;
  line-height: 1.6;
}

section[class^=ministerio-] {
  background-color: #34495e;
  color: #ecf0f1;
  padding: 60px 0;
}
section[class^=ministerio-] .ministerio-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section[class^=ministerio-] .ministerio-content .ministerio-info,
section[class^=ministerio-] .ministerio-content .ministerio-text {
  flex: 1;
  padding-right: 40px;
}
section[class^=ministerio-] .ministerio-content .ministerio-info h2,
section[class^=ministerio-] .ministerio-content .ministerio-info h3,
section[class^=ministerio-] .ministerio-content .ministerio-text h2,
section[class^=ministerio-] .ministerio-content .ministerio-text h3 {
  color: #e74c3c;
  font-size: 28px;
  margin-bottom: 20px;
}
section[class^=ministerio-] .ministerio-content .ministerio-info p,
section[class^=ministerio-] .ministerio-content .ministerio-text p {
  font-size: 16px;
  line-height: 1.6;
}
section[class^=ministerio-] .ministerio-content .ministerio-image {
  flex: 1;
}
section[class^=ministerio-] .ministerio-content .ministerio-image img {
  width: 100%;
  border-radius: 8px;
}
section[class^=ministerio-] img {
  width: 100%;
  border-radius: 8px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 20px;
  align-items: center;
}
footer .footer-logo img {
  display: flex;
  color: black;
  align-items: center;
  order: 1;
  width: 50px;
  height: auto;
}
footer .redes-sociales a {
  margin: 0 10px;
}

/*# sourceMappingURL=style.css.map */
